body{
  background-color: #00ffff;
  text-align: center;
  text-transform: none;
}
nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #042ed6;
  color: black;
}
img{
  display: flex;
  justify-content: center;
  width: 20%;
}
pre{
  text-align: left;
  width: 90px;
}
button{
  display: flex;
  justify-content: center;
  border-style: unset;
  background-color: pink;
}
a{
  text-decoration: none;
  color: purple;
}